$bubble-right-color : #cb5404;
$bubble-left-color : #004e98;
$bubble-text-color: rgba(255, 255, 255, 1);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background:
    linear-gradient(rgba(37, 35, 35, 0.94),
      rgba(37, 35, 35, 0.93)),
    url(https://erabliere.ga/web/images/erabliere.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  height: 100%;
  color: $bubble-text-color;
  overflow-x: hidden;
  padding-bottom: 50px;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 50px 0;
}

.timeline ul li.event {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li.event p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.timeline ul li.event p strong {
  text-decoration: underline overline;
  text-underline-offset: 3px;
  cursor: pointer;
}
.tag {
  text-decoration: underline overline;
  text-underline-offset: 3px;
  cursor: pointer;
}
.timeline ul li.event p strong:hover{
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.8);
}
.tag:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.8);
}

.timeline ul li.event div.content img {
  float: left;
  margin: 7px;
  max-inline-size: 100%;
  block-size: auto;
}
.timeline ul li.event div.content::after {
  content: "";
  display: block;
  clear: both;
}

.timeline ul li.event::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li.event div.content {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  border-radius: 5px 5px 5px 5px;
}

.timeline ul li.event div.content.post::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li.event.right div.content {
  left: 45px;
}

.timeline ul li.event.right div.content.post {
  background: $bubble-right-color;
}

.timeline ul li.event.left div.content {
  left: -439px;
}

.timeline ul li.event.left div.content.post {
  background: $bubble-left-color;
}

.timeline ul li.event.right div.content::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $bubble-right-color transparent transparent;
}

.timeline ul li.event.left div.content::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent $bubble-left-color;
}




.content.info {
  display: block;
}
.content.info .tagline {
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.5);
}
.content.info .datetime{
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.5);
}
.content.info .title {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li.event::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.event.in-view::after {
  background: rgb(109, 106, 106);
}

.timeline ul li.event div.content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li.event.right div.content {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li.event.left div.content {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.event.in-view div.content {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li.event div {
    width: 250px;
  }

  .timeline ul li.event.left div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li.event {
    margin-left: 20px;
  }

  .timeline ul li.event div.content {
    width: calc(100vw - 91px);
  }

  .timeline ul li.event.left div.content {
    left: 45px;
  }

  .timeline ul li.event.left div.content::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $bubble-left-color transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li.event::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li.event::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li.event div.content::before {
  bottom: 12px;
}

.timeline-star ul li.event::after {
  clip-path: polygon(50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%);
}

.timeline-heptagon ul li.event::after {
  clip-path: polygon(50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%);
}

.timeline-infinite ul li.event::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.25);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}